*{
	margin:0;
	padding:0;
}
li{list-style:none;}
a{text-decoration:none;}

/* --------header----------- */

.header{
  background: #333;
  width: 100%;
}
header{
  width:1226px;
  margin:0 auto;
  height:40px;
  font-size: 12px;
  .ul_l {
    height:40px;
    width: 402px;
    float:left;
    li{
      float:left;
      line-height:40px;
      padding-left:6px;
      padding-right: 6px;
      a{
        color: #b0b0b0;
      }
    }
    li:first-child {
      padding-left:0;
      position: relative;
    }
  }
  .ul_r {
    height:40px;
    float:right;
    li{
      float:left;
      padding-left:6px;
      padding-right: 6px;
      line-height:40px;
      a{
        color: #b0b0b0;
        &:hover{
          color:#fff;
        }
      }
    }
  }
}
.ul_r li:nth-child(4){
  padding-right:0;
}
.ul_r li:nth-child(4) {
  width:120px;
  height:40px;
  text-align: center;
  padding:0;
  margin-left:10px;

  a{
    display: block;
    width:120px;
    height:40px;
    background: #424242;
  }
  &:hover a{
    background: #fff;
    color: #ff6700;
  }
  .icon-cart{
    padding-right:5px;
  }
}

.shopMenu {
  box-sizing:border-box;
  width:316px;
  height:98px;
  margin:5px 20px 20px 20px;
  background:#fff;
  z-index: 31;
  position: absolute;
  right:87px;
  top:35px;
  line-height:98px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);

}



/* ------site-header -----*/

.site-header{
	position:relative;
	.contener{
		// overflow: hidden;
		width: 1226px;
		height: 100px;
		margin: 0 auto;
		.header-logo{
			height: 49px;
			width: 49px;
			margin-top: 25px;
			background: url(../images/index/mi-logo.png) no-repeat #ff6700;
			float:left;
			margin-right: 20px;
		}
		.header-logo1{
			float:left;
			img{
				margin-top: 20px;
			}
		}
		.nav{
			margin-left: 20px;
			float:left;
			height: 100px;
			line-height: 100px;

			font-size:16px;
			li{
				float:left;
				a{
					color:#333;
					padding:0 10px;
				}
				.down_ul{
					background: #fff;
					position: absolute;
					/* 宽度应该100% */
					width: 1600px;//再调
					left: 0;
					top: 100px;
					//border-top: 1px solid #ccc;
					// display: none;
					height: 0;


					li{

						img{
							width: 150px;
							height: 150px;
							margin-top: 30px;
							.down_title{
								margin-top: 10px;
								color:#757575;
								font-size: 16px;
							}
							.down_price{
								color: #ff6700;
								font-size: 14px;
							}
						}

					}
				}

			}
		}
		.header-search{
			float: right;
			margin-top: 25px;
			form{
				height: 48px;
				position:relative;
				label{
					display: none;
				}

				#search{
					box-sizing:border-box;
					text-align: right;
					text-indent:20px;
					width:223px;
					height: 48px;
					float: left;
					border: 1px solid #ccc;
					padding:0;
					&:focus{
						outline: none;
						border:1px solid #ff6700;
						#submit{
							border:1px solid #ff6700;
						}
					}

				}

				#submit{
					box-sizing:border-box;
					height:48px;
					width:48px;
					float:left;
					border:1px solid #ccc;
					border-left:0;
					border-radius:0;
				}
				#search_ul{
					display: none;
					box-sizing:border-box;
					border:1px solid #ff6700;
					width: 223px;
					margin:0;
					padding:0;
					height: 300px;
					background:red;
					position: absolute;
					top:48px;

				}
			}

		}
	}

}



.nav-bar-bg{

	.nav-bar{
		width:1226px;
		height: 60px;
		margin: 0 auto;
		// background:yellow;
		h2 {
			margin: 0;
		    font-size: 18px;
		    font-weight: 400;
		    line-height: 60px;
		    color: #212121;
		    float: left;
		}
		ul{
			float:right;
			li{
				float:left;
				line-height: 60px;
				height: 60px;
				a{
					color: rgb(97, 97, 97);
					padding:5px;
				}
			}
			li:last-of-type{
				
				a {	
					display: inline-block;
					color:#fff;
					background: #ff6700;
					border-color: #ff6700;
					width: 118px;
				    height: 28px;
				    font-size: 12px;
				    line-height: 28px;
				    text-align: center;
				}
			}
		}
	}
}
.banner-bg{
	background:#0c54a6;
	position:relative;
	.banner{
		width:100%;
		img{
			display: block;
			width:100%;
		}
		.context{
			position:absolute;
			top: 12.03704%;
    		left: 7.03125%;
			h1{
				color: #fff;
			    font-size: 110px;
			    line-height: 120px;
			}
			.subTitle{
		    	color: #fff;
				margin-top: 20px;
				font-size:18px;
			}
			.price{
				margin-top: 12.59259%;
    			color: #fff;
  			    font-size: 28px;
  			    span{

  			    	i{
						font-size: 60px;
    					color: #ff6700;
   						font-family: 'Avenir';
   						margin-right: 5px;
  			    	}
  			    }
  			    del{
  			    	margin-left:10px;
  			    	i{
  			    		color: #fff;
    					font-size: 28px;
  			    	}

  			    }
			}
		}
	}
}
.site-footer{
	.container{
		width:1224px;
		margin: 0 auto;
		.footer-service{
			padding: 27px 0 24px;
			border-bottom: 1px solid #e0e0e0;
			ul{
				overflow: hidden;
				li{
					float:left;
					width: 19.8%;
					height: 25px;
					border-left: 1px solid #e0e0e0;
					font-size: 16px;
					line-height: 25px;
					text-align: center;
					a{
						color: #616161;
					}
				}
				li:nth-of-type(1){
					border-left:0;
				}
			}
		}
		.footer-links{
			padding: 40px 0;
			overflow: hidden;
			.col-links{
				float: left;
				width: 160px;
				height: 112px;
				dt{
					margin: -1px 0 26px;
					font-size: 16px;
					line-height: 1.25;
					color: #424242;
				}
				dd{
					margin: 10px 0 0;
					font-size: 14px;
					a{
						color:#757575;
					}
				}
			}
			.col-contact{
				float: right;
				width: 251px;
				height: 112px;
				border-left: 1px solid #e0e0e0;
				text-align: center;
				color: #616161;
				.phone{
					margin: 0 0 5px;
					font-size: 22px;
					line-height: 1;
					color: #ff6700;
				}
			}

		}

	}
}